ion-content{
    --ion-background-color: linear-gradient(160deg, #B627F2 30%,#1EE3DD 70%)
  }
  ion-item{
    --ion-background-color: transperent!important
  
  }
  .padding{
    padding: 5%;
  }
  .logo{
    height: 175px;
  }