<ion-tabs #tabs>
 
  <ion-tab-bar slot="bottom">   
   
  <ion-tab-button tab="profile">
   
      <ion-icon size="large" color="tertiary" name="person-circle"></ion-icon>
    
          
        </ion-tab-button>
    
   <ion-tab-button tab="feed">
     <ion-icon size="large" color="tertiary" name="home"></ion-icon>
     
 </ion-tab-button>
    
 <ion-tab-button  tab="uploader">
   <ion-icon  size="large"color="tertiary" name="add"></ion-icon>
   
 </ion-tab-button>
      
  
  

  </ion-tab-bar>


</ion-tabs>